name: Build Release APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Restore google-services.json
        run: |
          mkdir -p app
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 -d > app/google-services.json

      - name: Debug google-services.json
        run: |
          ls -la app
          head -n 5 app/google-services.json

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build signed release APK
        run: ./gradlew assembleRelease
