name: TrackNote Auto Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          
      - name: Restore google-services.json
        run: |
          mkdir -p app/src/release
      
          cat << 'EOF' > app/src/release/google-services.json
          ${{ secrets.GOOGLE_SERVICES_JSON }}
          EOF

      - name: Verify google-services.json
        run: |
          ls -la app/src/release
          wc -c app/src/release/google-services.json


      #  Restore keystore
      - name: Restore keystore
        run: |
          mkdir -p app/keystore
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/keystore/my-release-key.jks

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      #  Build APK
      - name: Build release APK
        run: ./gradlew assembleRelease

      - name: Rename APK
        run: mv app/build/outputs/apk/release/app-release.apk tracknote.apk

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: tracknote.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
